In [3]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [7]:
n = 7
factorial(n)

5040

In [10]:
def sum_1(n):
    if n == 0:
        return 0
    else:
        return n + sum_1(n-1)

In [14]:
n = 2
sum_1(n)

3

In [15]:
#sum of number e.g. 4325 = 14
def sum_2(n):
    if n == 0:
        return 0
    else:
        return n%10 + sum_2(n//10)

In [19]:
n = 5555
sum_2(n)

20

In [22]:
#string reverse
def str_reverse_rec(str1):
    if len(str1) <= 1:
        return str1
    else:
        return str_reverse_rec(str1[1:])+str1[0]

In [23]:
str1 = 'abc'
str_reverse_rec(str1)

'cba'

In [24]:
# FIbonnaci iterative
def fib(n):
    a = 0
    b = 1
    for i in range(n):
        a, b = b, a+b
    return a

In [26]:
n = 10
fib(n)

55

In [27]:
def fib_rec(n):
    if n ==0 or n == 1:
        return n
    else:
        return fib_rec(n-1)+fib(n-2)

In [28]:
fib_rec(n)

55